-i https://mirrors.aliyun.com/pypi/simple/
rq
cx-Oracle
dnspython
fastapi
uvicorn[standard]
gunicorn
pydantic
passlib
aiofiles
IPy
aiohttp
kazoo
paramiko
pycryptodome
pyDes
pymongo
PyMySQL
pyOpenSSL
python-masscan
python-dateutil
python-nmap
requests
urllib3
psycopg2
beautifulsoup4
bs4
certifi
chardet
colorama
exrex
fire
future
idna
loguru
requests-file
six
redis
soupsieve
tenacity
termcolor
tldextract
tqdm
treelib
configparser
win32-setctime
chardet
PySocks
SQLAlchemy
cffi
markupsafe
